[Unit]
Description=Mistborn Environment Setup
Before=Mistborn-base.service

[Service]
Type=oneshot
User=mistborn
ExecStart=/opt/mistborn/scripts/env/setup.sh

[Install]
WantedBy=multi-user.target
