[Unit]
Description=Mistborn Suricata
Requires=Mistborn-base.service
After=Mistborn-base.service
PartOf=Mistborn-base.service

[Service]
Restart=always
RestartSec=15
User=root
Group=docker
PermissionsStartOnly=true
# Shutdown container (if running) when unit is stopped
ExecStartPre=/opt/mistborn/scripts/wrappers/mistborn_docker.sh suricata docker-compose -f /opt/mistborn/extra/scirius.yml down

# Start container when unit is started
ExecStart=/opt/mistborn/scripts/wrappers/mistborn_docker.sh suricata docker-compose -f /opt/mistborn/extra/scirius.yml up --build
# Stop container when unit is stopped
ExecStop=/opt/mistborn/scripts/wrappers/mistborn_docker.sh suricata docker-compose -f /opt/mistborn/extra/scirius.yml down
# Post stop

[Install]
WantedBy=multi-user.target