[Unit]
Description=Mistborn Wifi Service 
Requires=Mistborn-base.service
After=Mistborn-base.service

[Service]
Restart=always
User=root
Group=docker
PermissionsStartOnly=true
# Shutdown container (if running) when unit is stopped
EnvironmentFile=/opt/mistborn/.env
ExecStartPre=/usr/local/bin/docker-compose -f /opt/mistborn/extra/wifi.yml down

ExecStartPre=/usr/local/bin/docker-compose -f /opt/mistborn/extra/wifi.yml build
# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose -f /opt/mistborn/extra/wifi.yml up
# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose -f /opt/mistborn/extra/wifi.yml down
# Post stop

[Install]
WantedBy=multi-user.target
